h1 {
  margin: 20px 55px 10px 55px;
  font-size: 40px;
  text-align: center;
}

p {
  margin: 5px 55px;
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight:bolder;
  margin: 20px auto;
}

#projectflip {
  color: #a5bb49;
}

.home-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.home-col img {
  margin: 15px;
  border-radius: 10px;
  border: 1px solid #94a449;
}

.home-card {
  position: relative;
  margin: 10px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #fefae0;
  perspective: 1000px; 
}

.home-innercard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.home-card:hover .home-innercard {
  transform: rotateY(180deg);
  cursor: pointer;
}

.home-flipfront, .home-flipback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 3px 4px 3px rgb(88, 86, 86);
}

.home-flipfront {
  background-color: #fefae0;
  color: white;
}

.home-flipback {
  background-color: #a5bb49;
  color: white;
  transform: rotateY(180deg);
  height: 300px;
  border: 1px solid #94a449;
}

.home-flipback a {
  font-size: 25px;
  color: white;
}

.home-flipback img {
  height: 200px;
  width: 200px;
}
.home-flipback a:hover {
  color: rgba(72, 69, 69, 0.836);
}