.contact-page {
  text-align: center;
}

.contact-img {
  border-radius: 100%;
  border: 1px solid #54241c;
}

button {
  align-items: center;
  border-radius: 50%;
  margin: 8px;
  padding: 18px;
  width: 70px;
  border: 2px solid black;
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
  background-color: white;
}

button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid #a5bb49;
  background-color: #a5bb49;
  text-transform: uppercase;
  font-family: 'Neucha', cursive;
}

a {
  text-decoration: none;
  color: black;
}


