@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Edu+NSW+ACT+Foundation&family=Neucha&family=Patrick+Hand&display=swap');
@import './components/header/header.css';
@import './components/home/home.css';
@import './components/aboutme/aboutme.css';
@import './components/resume/resume.css';
@import './components/footer/footer.css';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Patrick Hand', cursive;
  background-color: #fefae0;
  color: black;
}