@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Edu+NSW+ACT+Foundation&family=Neucha&family=Patrick+Hand&display=swap');
@import './components/header/header.css';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #fefae0;
  color: black;
}